<div ng-controller="SessionCtrl">
  <form name="loginForm" ng-submit="submitLogin()" class="form-signin" role="form" novalidate>
    <h2 class="form-signin-heading">Please sign in</h2>
    <input ng-model="user.email" type="email" class="form-control" placeholder="Email address" required autofocus>
    <input ng-model="user.password" type="password" class="form-control" placeholder="Password" required>
    <label class="checkbox">
      <input type="checkbox" value="remember-me"> Remember me
    </label>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
</div>
